#header-section {
    position: relative;
    #home-page-slider {
        position: absolute;
        width: 100%;
        top: 0;
        background: none repeat scroll 0 0 #262626;
        max-height: 480px;
        margin-bottom: 40px;
        z-index: 0;
        overflow: hidden;
        .carousel-inner {
            .item {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .navbar {
        .bottom-curved-shadow {
            height: 9px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            top: 22px;
            width: 100%;
            z-index: 1;
            background-image: url("../img/shadow.png");
            background-repeat: no-repeat;
            background-color:rgba(0,0,0,0);
            background-size:100% auto;
            background-position:0 0;
            /*scroll 0 0 / 100% auto rgba(0, 0, 0, 0); */
        }
    }
}

